<!DOCTYPE html>
<html lang="en">
    @using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory_mvc_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventory_mvc_2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        
        </header>
       
        <div class="wrapper">
             @if (SignInManager.IsSignedIn(User))
{

            <nav id="sidebar">
            <div class="sidebar-header">
                <img src="~/images/logo_header_corp.png" alt="Paris"  style="width:100%;">
            </div>
            <div class="sidebar-header">
                <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </div>

            <ul class="list-unstyled components">
                
                <li class="active">
                    <a href="/Home" >Dashboard</a>
                    
                </li>
                
                <li>
                    <a href="/Item" >Item Master</a>
                
                </li>
                <li>
                    <a href="/Stock">Stock Manager</a>
                </li>
            
                <li>
                    <a href="/Location">Location</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
               
                <li>
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
                </li>
            </ul>
        </nav>
}

<div id="content">
   
                <div class="container-fluid">
@if (SignInManager.IsSignedIn(User))
{
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
}

                    <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarSupportedContent">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
                
            <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>

    
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Inventory_mvc_2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
