@model SevenEleven.Inventory.Mvc.Models.StockAdjustment

@{
    ViewData["Title"] = "StockAdjustment";
}

<h1>StockAdjustment</h1>

<h4>StockAdjustment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StockAdjustment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Item_code" class="control-label"></label>
                <input asp-for="Item_code" class="form-control" />
                <span asp-validation-for="Item_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location_id" class="control-label"></label>
                <input asp-for="Location_id" class="form-control" />
                <span asp-validation-for="Location_id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Stock_Id" class="control-label"></label>
                <input asp-for="Stock_Id" class="form-control" />
                <span asp-validation-for="Stock_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="StockAdjustment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
